#PageBody{ 
background-color: lightgray;
}
#MainContainer{
width : 100%;
border : 1px solid blue;
}

#Header{
width : 100%;
border : 1px solid green;
margin : 0 auto;
}
#Logo{
float : left;
}
#HeaderText{
text-align : center;
margin-right: 20%;
font-size: 400%;
text-shadow: 1px 1px 5px blue;
}

#Menu{
width : 19.5%;
border : 1px solid purple;
float : left;
margin-right : 0.5%;
}
#Menu ul{
width : 100%;
margin : 0%;
padding : 0%;
}
#Menu a{
	text-decoration:none
}
.links {
font-size : 120%;
text-decoration : underline;
color : #407294;
}
#MainContent{
width : 79.7%;
float : left;
}

#Footer{
width : 100%;
border : 1px solid green;
}
#FooterText{
float: right;
padding-right : 1%;
}

.clear{
clear : both;
}

#table{
	width: 100%;
	border: 1px solid black;
	background-color:darkgray;
	margin-left:auto;
	margin-right:auto;
}

.column3 {
  float: left;
  width: 30%;
  padding: 10px;
  background-color;
  height: 600px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column2 {
  float: left;
  width: 44%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.colouredParagraph {
	float: left;
	width: 98.4%;
	padding: 10px;
	background-color;
}


